
#page3{
    min-height: 90vh;
    width: 100%;
    background-color: #fff;
    padding: 0vw 0;
    position: relative;
  }
  
.elem:hover .overlay {
    top: 0;
  }
  
#fixed-image-left{
    height: 50vw;
    width: 40vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 2%;
    background-size: cover;
    background-position: center;
  }